<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
      <img src="../assets/images/laptop.jpg" class="bgimg-1" />
      <div class="w3-display-left w3-text-white" style="padding: 15%">
        <span class="w3-jumbo w3-hide-small">Ferretería UCB</span><br />
        <span class="w3-xxlarge w3-hide-large w3-hide-medium"
          >Aprende más sobre nuestra tienda</span
        ><br />
        <span class="w3-large"
          >Hoy en día los tornillos dominan el mundo.</span
        >
        <p>
          <a
            href="#about"
            class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"
            >Aprende más sobre nuestra tienda</a
          >
        </p>
      </div>
      <div
        class="w3-display-bottomleft w3-text-grey w3-large"
        style="padding: 24px 48px"
      >
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
    </header>

    <!-- Enseñanza -->
    <div class="w3-container" style="padding: 12px 16px" id="team">
      <h3 class="w3-center">PRODUCTOS</h3>
      <p class="w3-center w3-large">
        Algunos de los productos que ofrecemos son los siguientes:
      </p>
      <div class="w3-row-padding w3-grayscale" style="margin-top: 64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/1.png" alt="John" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Tornillos</h3>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/2.png" alt="Jane" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Madera</h3>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/3.png" alt="Mike" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Metal</h3>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card w3-center">
            <img src="../assets/images/4.jpg" alt="Dan" style="width: 80%" class="w3-center"/>
            <div class="w3-container w3-center">
              <h3>Focos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Estadísticas -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
      <div class="w3-quarter">
        <span class="w3-xxlarge">350+</span>
        <br />Tornillos vendidos
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">155+</span>
        <br />Proyectos Terminados
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">7400+</span>
        <br />Clientes Felices
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">50+</span>
        <br />Empleados por sucursal
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey"
        ><i class="fa fa-arrow-up w3-margin-right"></i>Volver Arriba</a
      >
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>
        Realizado en 
        <a
          href="https://www.ucb.edu.bo/"
          title="W3.CSS"
          target="_blank"
          class="w3-hover-text-green"
          >Universidad Católica Boliviana "San Pablo"</a
        >
      </p>
    </footer>
  </body>
</html>
